language: php

php:
  - 5.3
  - 5.3.3
  - 5.4
  - 5.5

env:
  - CAKE_VERSION=master

before_script:
  - chmod +x ./bin/build.sh
  - ./bin/build.sh

script:
  - ./lib/Cake/Console/cake test Ratchet AllRatchetTests --stderr
  
notifications:
  webhooks:
    urls: 
      - http://wyrihaximus.net/wyri_projects/wyri_projects/webhook/travisci.json
    on_success: always
    on_failure: always
    on_start: true